<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <form method="post">
            {%csrf_token%}
            <table border="1">
                  <tr>
                        <td>Enter First Name</td>
                        <td><input type="text" name="fname" required></td>
                  </tr>
                  <tr>
                        <td>Enter second Name</td>
                        <td><input type="text" name="lname" required></td>
                  </tr>
               <tr><td colspan="2"><input type="submit" value="passData"></td>
                  </tr>
            </table>
      </form>
</body>
</html>