<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
            table
            {
                  background-color: lightgrey;
                  height: 100px;
                  width: 50%;
                  text-align: center;
            }
      </style>

</head>
<body>
      <center>
            <h1>show All Data</h1><hr>
            <a href="addDept">Add new Dept</a><br>
      <table border="1">
            {%for d in dept%}
            <tr>
                  <td>{{d.id}}</td><td>{{d.dname}}</td><td>{{d.dlocation}}</td>
            </tr>
            {%endfor%}
      </table></center>
</body>
</html>