<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is Home Page {{check}}</h1>
    <a href={% url 'details' 1 %}>student 1</a>
    <a href={% url 'details' 2 %}>student 2</a>
    <a href={% url 'details' 3 %}>student 3</a>
    <hr/>
    <a href={% url 'subdetails' 1  5 %}>student 1</a>
    <a href={% url 'subdetails' 2  10 %}>student 2</a>
    <a href={% url 'subdetails' 3  15 %}>student 3</a>
    
    
  </body>
</html>
