<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .errorlist {
        color: red;
      }
    </style>
  </head>
  <body>
    <form action="" method="post" novalidate>
      {% csrf_token %} {% if form.non_field_errors %}
      <div class="non-field-errors">
        {% for err in forms.non_field_errors %}
        <p class="form-error">{{ err }}</p>
        {% endfor %}
      </div>
      {% endif %} {% for fm in forms %} {{fm.label_tag}} {{fm}}
      <span class="errorlist">{{fm.errors|striptags}}</span>
      <br /><br />
      {%endfor%}
      <input type="submit" name="submit" />
    </form>
  </body>
</html>
