<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <h1>welcome {{name}}</h1>
    <p>List Of Users</p>
    {% if users %}
    {% for user in users %}
    <a href= {% url 'userdetails' user.id %}>{{user.username}}</a> <br><br>
    {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for fm in fm.errors %}
      {{fm}}
      {% endfor %}
      {% endif %}
      {% for fm in form %}
      {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br><br>
      {% endfor %}
      <input type="submit" name="save" value="save">
    </form>
    <a href= {% url 'changepassword' %}>changepassword</a>
    <a href= {% url 'logout' %}>Logout</a><br>
    {% if messages %}
    {% for message in messages %} <span>{{message}}</span>{% endfor %}
    {% endif %}
    
  </body>
</html>
