<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>changepassword</title>
  </head>
  <body><form action="" method="post" novalidate>
      {% csrf_token %} {{forms.non_field_error}} {% for form in forms %}
      <div>{{form.label_tag}}{{form}}{{form.errors|striptags}}
      </div>
      <br />
      {% endfor %}
      <input type="submit" value="submit" /><br>
      <a href={% url 'Login' %}>Login</a>
    </form>
    </body>
</html>
