<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{form}} {{form.email.id_for_label}}<br />
    label:-{{form.email.label_tag}}<br />
    label_tag:-{{form.name.label_tag}}<br />
    value:-{{form.name.value}}<br />
    id:{{form.name.id_for_label}} <br />
    html_name:{{form.name.html_name}}<br />
    <hr />
    {{form.name.field.required}}
  </body>
</html>
