<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Age</td>
          <td>City</td>
          <td>Dob</td>
          <td>Marks</td>
        </tr>
        <tbody>
            <tr>
            <td>{{stu.id}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.age}}</td>
            <td>{{stu.city}}</td>
            <td>{{stu.dob}}</td>
            <td>{{stu.marks}}</td>
      </tr>
        </tbody>
      </thead>
    </table>
  </body>
</html>
